*{
    border: 0;
    margin: 0;
    padding: 0;
    }
body{
    background: url('/img/1524343.jpg');
    background-repeat: no-repeat;
    background-size: cover;    
}
h1{
    font-family: 'Henny Penny', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 120px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 100px;
    text-align: center;
}
h3{
    font-family: 'Fira Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: #FFFFFF;
    text-align: center;
    top: 0;
}
p{
    font-family: 'Fira Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: #FFFFFF;
    margin-top: 50px;
    text-align: center;
    }
input{
    background: #FFF8F8;
    border-radius: 40px;
    width: 513px;
    height: 63px;
    margin-left: 30.9rem;
    margin-top: 5px;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    }
img{
    width: 180px;
    height: 80px; 
    margin-top: 30px;
    margin-left: 41rem;
}